@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My first MVC application for MIS4200</p>

<p>Senior accounting and IS student at Ohio University. My favorite part of IS is the technical side. 
    I am an Internal Audit intern with the Internal Audit department here at OU. 
    I am currently seeking full time employment, 
    invoving some type of consulting or IT audit. 
    I am moving to Delray Beach, Florida after graduation so that is where my job search is taking place. 
    I love cats, football and video games. </p>