@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>My first MVC application for MIS4200</p>