@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This is my first rendition of my personal ASP.NET MVC application. I am just trying to find my way around.</p>
    <p><a href="https://asp.net" class="btn btn-success btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Overwatch</h2>
        <p>
            This is just random stuff because I had to restart and I know this will eventually need changed again anyway. Click down below to see what my favorite video game is! <span class="glyphicon glyphicon-warning-sign"></span> <br />
            

        </p>
        <p><a class="btn btn-info" href="https://overwatchleague.com/en-us"> Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Random Title</h2>
        <p>Here is another random plave holder sentence because I know this will also be changing soon. Click below to go to a random website, that sounds sketchy but just trust me!  <span class="glyphicon glyphicon-volume-up"></span></p>
        <p><a class="btn btn-warning" href="http://tinytuba.com/"> Do you trust me?  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bananas</h2>
        <p>Bananas are my favorite fruit. I enjoy banana milkshakes, yogurt, and any other type of banana flavored items, except laffy taffys.  <span class="glyphicon glyphicon-ok-sign"></span> </p>
        <p><a class="btn btn-danger" href="https://en.wikipedia.org/wiki/Banana">Learn more &raquo;</a></p>
    </div>
</div>