@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">This is my first rendition of my personal ASP.NET MVC application. I am just trying to find my way around.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Random Title</h2>
        <p>
            This is just random stuff because I had to restart and I know this will eventually need changed again anyway. Click down below to see what my favorite video game is! <br />
       

        </p>
        <p><a class="btn btn-default" href="https://overwatchleague.com/en-us"> Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another Random Title</h2>
        <p>Here is another random plave holder sentence because I know this will also be changing soon. Click below to go to a random website, that sounds sketchy but just trust me!</p>
        <p><a class="btn btn-default" href="http://tinytuba.com/"> Do you trust me?  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>And the last random paragraph I have to type will end with the word, Bananas! Not sure if thats the correct spelling VS does not have auto correct. </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Banana">Learn more &raquo;</a></p>
    </div>
</div>